body{
  font-family: arial, sans-serif;
  background-color: hsl(0, 0%, 10%);
}

.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 30%;
  margin-bottom: 10px;
}

.card .card-title{
  margin: 0px;
  color: black hsl(0, 0, 20%);
}

.card .card-text{
  color: black hsl(0, 0, 30%);
}

.student{
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0px;
}

.list-category{
  font-size: 2.5;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-items li{
  font-size: 2;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0px;
}

.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}

.counter-container{
  text-align: center;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.count-bouton{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(197, 100%, 58%);
  color : white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-bouton:hover{
  background-color: hsl(197, 100%, 48%);
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-container h1{
  margin: 50px;
  font-size: 1.5rem;
}

.color-display{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  font-size: 0.5rem;
  color: hsl(0, 0%, 20%);
  text-align: center;
}

.color-picker-container label{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-picker-container input[type="color"]{
  width: 50px;
  height: 40px;
  padding: 3px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}

.to-do-list{
  text-align: center;
  margin-top: 100px;
}

.to-do-list h1{
  font-size: 2rem;
  color: white;
}

.to-do-list button{
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}

.delete-button{
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(0, 56%, 46%);
}

.move-button{
  background-color: hsl(257, 90%, 50%);
}

.move-button:hover{
  background-color: hsl(242, 90%, 40%);
}

input[type="text"]{
  font-size: 1rem;
  padding: 10px;
  padding: 2px solid hsla(0 0% 80% 0.5);
  border-radius: 5px;
  color: hsla(0 0% 0% 0.5);
}

.to-do-list ol{
  padding: 0;
}

.to-do-list ol li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button{
  padding: 8px 12px;
  font-size: 1.5rem;
  margin-left: 10px;
}




